<!DOCTYPE html>
<html>
<head>
    <title>ToDo - Arya</title>
</head>
<body>
    <h1>Submit a To-Do Item</h1>
    <form action="/submittodoitem" method="POST">
        <label for="itemName">Item Name:</label>
        <input type="text" id="itemName" name="itemName" required><br><br>

        <label for="itemDescription">Item Description:</label>
        <input type="text" id="itemDescription" name="itemDescription" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
